extends ../templates/layout
block content
  div.container
    h1.titulote Dyno
    h1.titulote Disi
    h1.titulote Diusa
    :markdown
      This repo is an opinionated scaffolding, utilizing **Javascript** (*because you love semi-colons*), **Browserify** (*because node is awesome*), **Gulp** (*because .pipe(task) is amazing*), and **Jade** templates (*because America*).

    a(href='robots.html') Link a robots