@require 'jeet'
// @require '_navbar'
@require '_footer'

// edit()

global-reset()
// normalize()

html
  padding 0px
  margin 0px

body
  background-color orange
  padding 0px
  margin 0px

// h1
//   font-size 45px
//   color white
//   margin-bottom 30px
//   margin-top 50px

.main-section
  padding 15px

.navbar
  nav()
  

font-color = red

.titulote
  font-size 35px
  bold()
  margin 30px 0
  color font-color