.navbar
  h1 Mi página
  ul
    li 
      a(href="index.html") Logo
    li 
      a(href="robots.html") Robots
    li 
      a(href="news.html") Cursos
    li 
      a(href="#") Docencia
    li 
      a(href="#") Noticias